.checkout-header-div{
     padding: 10px 30px;
     display: flex;
     justify-content: end;
}
.checkout-header-cntns p
{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 5px;
     font-weight: bold;
     color: var(--darkblue);
}